.cics-food-pages-list {
  .cics-list-title {
    font-size: #{$page-font-size + 2px};
    margin: 0;
  }

  li {
    padding: 2px 0;
    font-size: $page-font-size;
  }
}

.cics-photo-container {
  > div {
    @include mobile-n-tablet {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  figcaption {
    margin-top: 8px;
    text-align: center;
    font-size: #{$page-font-size + 2px};
  }
}

.cics-cta-icon-container {
  > div {
    @include mobile-n-tablet {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .cics-cta-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  figure {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    figcaption {
      font-size: 20px;
      text-align: center;
    }

    &[data-color="green"] {
      background: #c9e265;
    }

    &[data-color="yellow"] {
      background: #ffde59;
    }

    &[data-color="orange"] {
      background: #e1914d;
    }
  }

  .cics-cta-circle {
    width: 80%;
    height: 80%;
    border: 4px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
