.cics-food-community-graph-chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cics-food-community-graph-chart {
  width: 70%;
  height: auto;
  position: relative;

  @include mobile-n-tablet {
    width: 100%;
  }

  .graph-chart-content {
    font-size: $page-font-size;
    color: white;
    font-weight: bold;
    position: absolute;

    @include mobile-only {
      // font-size: 10px;
      transform: scale(80%);
      // color: #744015;
      // text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
      //   1px 1px 0 white;
    }

    &[data-position="top-left"] {
      top: 22.5%;
      left: 25%;

      @include mobile-only {
        left: 18%;
      }
    }

    &[data-position="bottom-left"] {
      bottom: 22.5%;
      left: 25%;

      @include mobile-only {
        left: 18%;
      }
    }

    &[data-position="top-right"] {
      top: 20%;
      right: 20%;

      @include tablet-only {
        right: 25%;
      }

      @include mobile-only {
        right: 14%;
      }
    }

    &[data-position="bottom-right"] {
      bottom: 20%;
      right: 20%;

      @include tablet-only {
        right: 25%;
      }

      @include mobile-only {
        right: 14%;
      }
    }

    &[data-position="center"] {
      top: 50%;
      left: 50%;
      color: #744015;
      transform: translate(-50%, -50%) !important;
      margin-top: -10px;
    }
  }
}

.cics-food-community-graph-desc {
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;

  @include mobile-n-tablet {
    display: block;
  }

  .graph-desc-item-wrapper {
    width: 50%;
    padding: 10px;

    @include mobile-n-tablet {
      width: 100%;
    }

    .graph-desc-item {
      border-radius: 10px;
      padding: 15px;
      height: 100%;
      border-width: 3px;
      border-style: solid;

      @include mobile-n-tablet {
        height: auto;
      }

      &[data-info="seed"] {
        color: #e05a47;
        border-color: #e05a47;
      }

      &[data-info="soil"] {
        color: #839f8a;
        border-color: #839f8a;
      }

      &[data-info="garden"] {
        color: #744015;
        border-color: #744015;
      }

      &[data-info="kitchen"] {
        color: #ed8c3c;
        border-color: #ed8c3c;
      }

      .graph-desc-title {
        font-weight: bold;
        font-size: 1.2em;
        color: inherit;
        margin: 0;
      }

      .graph-chart-content {
        font-size: 1em;
        font-weight: unset;
        color: inherit;
        margin: 0;
      }
    }
  }
}
